body{
    display: flex;
    justify-content: center;
}
.main_body{
    width: 600px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-size: 30px;
    background: linear-gradient(to right, red , yellow, rgb(255, 166, 0),rgba(0, 110, 255, 0.507)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    color: rgb(0, 129, 168)
}

.rectangle{
    width: 150px;
    height: 70px;
    background-color: rgba(255, 0, 0, 0.603);
    margin-top: 50px;
}